<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>E-books</h2>

<ul>
    <table border=1>
        <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Rating</th>
            <th>Account ID</th>
        </tr>
        <% result.rows.forEach(function(row) { %>
            <tr>
                <td><%= row.bookid %></td>
                <td><%= row.title %></td>
                <td><%= row.author %></td>
                <td><%= row.publisher %></td>
                <td><%= row.starrating %></td>
                <td><%= row.accid %></td>
            </tr>
        <% }); %>
    </table>

</ul>

</div>

</body>
</html>
